.projects {
  padding: 3vw;

  .left {
    display: inline-block;
    width: 30%;
    text-align: center;
  }

  .right {
    display: inline-block;
    width: 70%;
    vertical-align: top;
  }

  .spooky {
    border-radius: 15px;
  }

  section {
    margin: 2vw 0;
  }

  img {
    max-width: 50%;
  }

  .long-image {
    max-width: 100%;
  }

  p {
    font-size: large;
  }
}