@import '../../style/vars';

.projects {
  padding: 3vw;
  height: auto;
  font-family: $marvel;

  a {
    color: $main;
  }
  a:hover {
    color: $main-medium;
  }

  .left, .right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 2vw;
  }

  .right {
    text-align: left;
  }
  .left {
    text-align: right;
  }

  section {
    border: 1px solid $main;
    margin: 1vw 5vw;
    padding: 2vw;
    box-shadow: 0.5vw 0.5vw $box-shadow;
    display: inline-block;
    text-align: center;

    .demo {
      height: auto;
      width: 100%;

      img {
        width: 60%;
        height: 60%;
      }
    }
  }

  h2 {
    font-size: 3vw;
    margin: 1vw 0;
    font-family: $julius-sans-one;
  }
  h3 {
    font-size: 2vw;
    margin: 1vw 0;
    font-family: $julius-sans-one;
  }
  p {
    font-size: 2vw;
  }
}