@import '../../style/vars';

.landing {
  height: 85%;
  position: relative;
}

.blurb {
  padding: 2vw;
  width: 100%;
  max-height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: center;

  h1 {
    font-size: 4vw;
    font-family: $julius-sans-one;
  }

  p {
    font-size: 2vw;
    font-family: $marvel;
    margin: 1vw;
  }
}