@import '../../style/vars';

.contact {
  font-family: $serif;
  font-size: 2vw;
  position: relative;
  height: 85%;

  img {
    max-height: 12vw;
    border-radius: 6vw;
    padding: 1vw;
    box-sizing: border-box;
    vertical-align: bottom;
  }
  .blurb {
    font-family: $serif;
    max-height: 60%;
  }
}