@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Marvel');
$julius-sans-one: 'Julius Sans One', sans serif;
$marvel: 'Marvel', sans serif;

$main: #1477ff;
$main-light: #a5d9ff;
$box-shadow: #d8d8d8;