@import 'vars';

html,  body {
  height: 100%;
}

html, body, h1, footer, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: $main;
}

div {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  background: white;
  border: 1px solid $main;
  font-size: 1.5vw;
  height: 4vw;
  width: 15vw;
  font-family: $sans-serif;
  margin: 1vw;
}

button:hover {
  background: $main-light;
}